matplotlib
pandas
scipy
numpy
seaborn
plotille
pathlib2
git-python
pipenv
graphviz
torch
torchvision
tensorboardX
cloudpickle
forwardable
ipython
pipfile
shell
gym
tqdm
jupyter
filelock
cffi
imageio
imageio-ffmpeg
tensorboard
cmake
networkx
